textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  font-size: 20px;
}

.panel-space {
  margin-top: 12px;
}
.panel-space .panel-heading {
    background-color: #ffffff;
}
.panel-space .panel-heading .form-control {
  font-size: 24px;
}
.panel-space .panel-footer {
    background-color: #ffffff;
}
.panel-space table td {
  border: none !important;
}

.customer_info {
  border: 2px solid #999;
  padding: 15px;
}
